<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://unpkg.com/spectre.css/dist/spectre.min.css')
    link(rel='stylesheet', href='https://unpkg.com/spectre.css/dist/spectre-exp.min.css')
    link(rel='stylesheet', href='https://unpkg.com/spectre.css/dist/spectre-icons.min.css')
    title Bears online
  body
    section.navbar-section
      a.btn.btn-link(href='#') Docs
      a.btn.btn-link(href='#') Examples
    section.navbar-center
    // centered logo or brand
    section.navbar-section
      a.btn.btn-link(href='#') Twitter
      a.btn.btn-link(href='#') GitHub
    block content
      
    